@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif; 
}

/* NAVBAR */

.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
}

.ver-carrito{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

/* BANNER */

.banner{
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://images.unsplash.com/7/Top_view.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80') ;
}

.banner-container{
    text-align: center;
    padding: 50px;
}

.banner h1{
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 62px;
    
}

